* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1318c8;
    font-family: sans-serif;
    height: max-content;
}

#headline {
    background: white;
    color: #1318c8;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#content {

    color: white;
    text-align: center;
    height: max-content;
}

#description {
    padding-top: 20px;
    font-size: 18px;
    font-family: sans-serif;
}

#form {
    margin: auto;
    margin-top: 30px;
}

#table {
    margin:auto;
    color: white;
}

#input_text {
    vertical-align: top;
    padding: 10px;
    text-align: right;
}

#name_input {
    width:400px;
    max-width: 80%;
    height: 40px;
    border: 0;
    padding: 5px;
    margin:10px;
}

#select_text {
    vertical-align: top;
    padding: 10px;
    text-align: right;
}

#sectors_select {
    width:400px;
    max-width: 80%;
    border: 0;
    padding: 5px;
    margin:10px;
}

#agreement_checkbox {

    height: 25px;
    width: 25px;
    border: 0;
    padding: 5px;
    margin:10px;
    float: left;
}

#checkbox_label {
    line-height: 45px;
    vertical-align: middle;
    height: 50px;
    float: left;
}

#submit_input {
    background: white;
    /*border: 0;*/
    height: 40px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
